@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;500;600;700&display=swap');
*,*::after,*::before{padding:0;margin:0;box-sizing:border-box;transition: 600ms ease-in-out;
font-size: 18px;}
:root{
    font-family: 'Sora', sans-serif;
}
@keyframes musicPlayer {
    0%{
        height: 100%;
    }
    75%{
        height: 25%;
    }
    100%{
        height: 100%;
    }
}
#game{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 5rem;
    text-transform: uppercase;
    background-color: #1d1d1d;
    color: #efefef;
    #playpause{
        transform: rotate(180deg);
        height: 5vh;
        width: 3vh;
        display: flex;
        position: absolute;
        bottom: 0;
        left: 5px;
        align-items: stretch;
        justify-content: space-between;
        .bar-1,.bar-2,.bar-3{
            background: white;
            height: 4vh;
            width: 2px;
            border-radius: 6px;
        }
    }
    .pause{
        .bar-1,.bar-2,.bar-3{
            background-color: #efefef67;
        }
    }
    .play{
        .bar-1{
            animation: musicPlayer 1600ms infinite ease-in-out ;
        }
        .bar-2{
            animation: musicPlayer 1600ms infinite ease-in-out 0.2s ;
        }
        .bar-3{
            animation: musicPlayer 1600ms infinite ease-in-out 0.5s ;
        }
    }
}
@media screen and (max-width:760px) {
    #game{
        font-size: 2.5rem;
        #playpause{
            bottom: 2vh;
            left: 2vh;
        }
    }
}