@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;300;500;600;700&display=swap");
:root {
  font-family: "Sora", sans-serif;
  overflow: hidden;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 600ms ease-in-out;
  font-size: 18px;
}

@-webkit-keyframes musicPlayer {
  0% {
    height: 100%;
  }
  75% {
    height: 25%;
  }
  100% {
    height: 100%;
  }
}

@keyframes musicPlayer {
  0% {
    height: 100%;
  }
  75% {
    height: 25%;
  }
  100% {
    height: 100%;
  }
}
#game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-transform: uppercase;
  background-color: #1d1d1d;
  color: #efefef;
}
#game #playpause {
  transform: rotate(180deg);
  height: 5vh;
  width: 3vh;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 5px;
  align-items: stretch;
  justify-content: space-between;
}
#game #playpause .bar-1, #game #playpause .bar-2, #game #playpause .bar-3 {
  background: white;
  height: 4vh;
  width: 2px;
  border-radius: 6px;
}
#game .pause .bar-1, #game .pause .bar-2, #game .pause .bar-3 {
  background-color: rgba(239, 239, 239, 0.4039215686);
}
#game .play .bar-1 {
  -webkit-animation: musicPlayer 1600ms infinite ease-in-out;
          animation: musicPlayer 1600ms infinite ease-in-out;
}
#game .play .bar-2 {
  -webkit-animation: musicPlayer 1600ms infinite ease-in-out 0.2s;
          animation: musicPlayer 1600ms infinite ease-in-out 0.2s;
}
#game .play .bar-3 {
  -webkit-animation: musicPlayer 1600ms infinite ease-in-out 0.5s;
          animation: musicPlayer 1600ms infinite ease-in-out 0.5s;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 5rem;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
}
.loading-text span:nth-child(1) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
          animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
          animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
          animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
          animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
          animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
          animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
          animation: blur-text 1.5s 1.2s infinite linear alternate;
}
.loading-text span:nth-child(8) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.4s infinite linear alternate;
          animation: blur-text 1.5s 1.4s infinite linear alternate;
}
.loading-text span:nth-child(9) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.6s infinite linear alternate;
          animation: blur-text 1.5s 1.6s infinite linear alternate;
}
.loading-text span:nth-child(10) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.8s infinite linear alternate;
          animation: blur-text 1.5s 1.8s infinite linear alternate;
}
.loading-text span:nth-child(11) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 2s infinite linear alternate;
          animation: blur-text 1.5s 2s infinite linear alternate;
}
.loading-text span:nth-child(12) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 2.2s infinite linear alternate;
          animation: blur-text 1.5s 2.2s infinite linear alternate;
}
.loading-text span:nth-child(13) {
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 2.4s infinite linear alternate;
          animation: blur-text 1.5s 2.4s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
@media screen and (max-width: 760px) {
  #game {
    font-size: 2.5rem;
  }
  #game #playpause {
    bottom: 2vh;
    left: 2vh;
  }
}/*# sourceMappingURL=index.css.map */